.light-theme {
    --main-bg-color: #EEEEEF;
    --header-top-color: rgba(16, 187, 213, 1);
    --text-color: black;
    --hit-color: #4200FF;
    --new-color: #AF39E7;
    --off-color: #EA33C0;
    --button-add-color: #4C394E;
    --button-end-color: #5cbb14;
    --book-color: white;
}

.dark-theme {
    --main-bg-color: rgb(22, 22, 75);
    --text-color: rgb(47, 46, 46);
    --btn-color: brown;
    --header-top-color: rgb(65, 168, 96);
    --hit-color: #3108a0;
    --new-color: #70099f;
    --off-color: #fc7cde;
    --button-add-color: #c80bdd;
    --button-end-color: #78eb20;
    --book-color: rgb(128, 207, 153);
}




body {
    font-family: 'Cabin', sans-serif;
}

.conteiner {
    max-width: 1296px;
    margin: 0 auto;
}

.btn__styles:hover {
    cursor: pointer;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-div-color-blue {
    background-color: var(--header-top-color);
    background-color: var(--header-top-color);

}

.header-div-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-logo-link {
    display: inline-block;
    position: relative;
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding-left: 25px;
}

.header-logo-link::before {
    content: url(../image/logo-book.svg);
    width: 26px;
    height: 28px;
    display: inline-block;
    position: absolute;
    left: 0;
}

.header-div-cart {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-div-price {
    color: #F8FDFE;
    font-size: 16px;
    margin: 0;
}

.header-div-button {
    border: none;
    background-color: rgba(16, 187, 213, 1);
    background-image: url(../image/cart.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    padding: 0;
    position: relative;
}

.header-div-digit {
    position: absolute;
    bottom: 16px;
    left: 16px;
    margin: 0;
    color: #000;
    font-size: 12px;
    line-height: 20px;
}

.header-div-color-white {
    background-color: white;
}

.header-div-category {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.header-div-category-title {
    color: var(--text-color);
    color: var(--text-color);
    font-size: 16px;
    margin: 0;
}

.header-nav-list {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 0;
    padding-left: 0;
}






.main {
    background-color: var(--main-bg-color);
    background-color: var(--main-bg-color);
}

.article-main {
    padding-top: 32px;
    position: relative;
}

.article-main-title {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 23px;
    margin: 0;
    border-bottom: 1px solid #A8A8A8;
}

.main-button-fixed {
    background-color: #10BBD5;
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 30px;
    padding: 0;
    position: fixed;
    right: 10px;
    top: 675px;
    z-index: 1;
}

.main-button-fixed-img {
    width: 51px;
    height: 51px;
}

.main-div-conteiner {
    position: absolute;
}

.div-conteiner-text {
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0;
    background-color: var(--hit-color);
    background-color: var(--hit-color);
    display: inline-block;
}

.inscription-new {
    background-color: var(--new-color);
    background-color: var(--new-color);
}

.inscription-off {
    background-color: var(--off-color);
    background-color: var(--off-color);
}

.article-main-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding-top: 24px;
    padding-bottom: 120px;
    padding-left: 0;
    row-gap: 32px;
    column-gap: 24px;
}

.article-main-item {
    background-color: var(--book-color);
    background-color: var(--book-color);
    display: grid;
    padding: 32px;
    row-gap: 16px;
    max-width: 306px;
}

.article-main-link-img {
    display: flex;
}

.article-main-img {
    margin: 0 auto;
    height: 100%;
}

.article-main-text {
    overflow: hidden;
    white-space: nowrap;
    max-width: 242px;
}

.article-main-text:hover {
    overflow: visible;
    white-space: wrap;
}

.main-item-book {
    margin: 0;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid #8E8E8E;
}

.main-item-autor {
    margin: 0;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.main-item-price {
    margin: 0;
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    display: inline;
}

.wrong {
    color: #8E8E8E;
    text-decoration: line-through;
    display: inline;
    margin-left: 24px;
}

.main-button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--button-add-color);
    background-color: var(--button-add-color);
    padding: 8px 24px;
    display: inline-block;
}

.button-end {
    background-color: var(--button-end-color);
    background-color: var(--button-end-color);
}




.footer {
    background-color: var(--button-add-color);
    background-color: var(--header-top-color);
}

.footer-div {
    color: #F8FDFE;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-div-year {
    margin: 0;
}

.footer-div-text {
    margin: 0;
}